td {
    font-weight: normal;
}

a {
	color: #003366;
}
h1 {
	font-size: 12pt;
	font-weight: bold;
}
h2 {
	font-size: 11pt;
	font-weight: bold;
}
h3 {
	font-size: 10pt;
	font-weight: bold;
}

table {
	line-height: 10pt;
	width: 100%;
	margin-bottom: 5px;
}

td {
	padding: 0.1cm 0.2cm;
	vertical-align: top;
}

.h1center {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.narr_table {
	width: 100%;
}

.td_label{
	font-weight: bold;
}
