<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PHMR Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
    
    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" th:href="@{/css/landing-page.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/phmr.css" th:href="@{/css/phmr.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" media="screen" />
        
    <!-- Custom Fonts -->
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.1.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.1.0/css/font-awesome.min.css}" rel="stylesheet" media="screen" /> 
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Stiftelsen for softwarebaserede sundhedsservices</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-search"> Søg PHMR</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>PHMR Viewer</h2>
                </div>
                <!--
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="well">
				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="patient_id" class="col-sm-2 control-label">PatientId:</label>
						<div class="col-sm-8">
							<input class="form-control" id="patient_id" type="text" name="cpr" th:value="${cpr}" />
						</div>
					</div>
					<div class="form-group">
						<label for="start_time" class="col-sm-2 control-label">After:</label>
						<div class="col-sm-8">
							<input id="start_time" type="text" class="form-control date_form" th:value="${from}" name="from" />
						</div>
					</div>
					<div class="form-group">
						<label for="end_time" class="col-sm-2 control-label">Before:</label>
						<div class="col-sm-8">
							<input id="end_time" type="text" class="form-control date_form" th:value="${to}" name="to" />
						</div>
					</div>
					
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Search</button>
    					</div>
  					</div>
				</form>
			</div>
			
			<table class="table table-hover" th:if="${entries != null}">
				<thead>
					<tr>
						<th>#</th>
						<th>Updated</th>
						<th>DocumentId</th>
						<th>Title</th>
					</tr>
				</thead>
			    <tr data-th-each="entry,iterStat : ${entries}" th:href="'/show?docId=' + ${entry.id}">
			    	<td data-th-text="${iterStat.count}" />
        			<td data-th-text="${#strings.substring(entry.updated, 6, 8) + '.' + #strings.substring(entry.updated, 4, 6) + '.' + #strings.substring(entry.updated, 0, 4)}" />
       				<td data-th-text="${entry.id}" />
        			<td data-th-text="${entry.documentName}" />
    			</tr>
    		</table>

        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="http://4s-online.dk/">4S Online</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; 4S 2014. All Rights Reserved</p>
                    <p class="debug text-muted small" th:text="${xdsUrls}"></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.11.0/jquery.min.js" th:src="@{/webjars/jquery/1.11.0/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    <script src="../static/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}"></script>

    <script type="text/javascript">
      $(".date_form").datepicker({
        format: "dd.mm.yyyy",
        autoclose: true,
		minView: 2
      });

	  $(document).ready(function(){
        $('table tr').click(function(){
          window.location = $(this).attr('href');
          return false;
        });
      });
    </script>
</body>
</html>